<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hotel Reservations | No Reservations</title>
<link th:href="@{/css/custom.css}" rel="stylesheet" />
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<div class="banner"><a href="/hotelReservation">Hotel Reservations</a>
		</div>
	<br>
	<br>
		<div class="forms">
			<table>
				<col>
				<colgroup span="2"></colgroup>
				<thead>
					<tr>
					<th colspan="2" scope="colgroup"><h2 class="h2ci"> No Reservation Found </h2><br><br></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2" class="tdcenter"><a href="/hotelReservation/findReservation"> Look Up Another Reservation</a></td>
					</tr>
			</tbody>
		</table>
	</div>
	<br>
	<br>
	<br>
	<br>
</body>
</html>

